<mat-list>
  <mat-list-item routerLink="{{routes.}}" routerLinkActive="active">
    <mat-icon>shopping_cart</mat-icon> Ingresar Clientes
  </mat-list-item>  
  <mat-list-item routerLink="{{routes.DASHBOARD}}" routerLinkActive="active">
    <mat-icon>laptop_mac</mat-icon> Administrar Clientes
  </mat-list-item>
  <mat-list-item routerLink="{{routes.TYPOGRAPHY}}" routerLinkActive="active">
    <mat-icon>insert_drive_file</mat-icon> Crear Factura
  </mat-list-item>
  <mat-list-item routerLink="{{routes.TABLES}}" routerLinkActive="active">
    <mat-icon>domain</mat-icon> Ver Facturas
  </mat-list-item>
</mat-list>

